<nav>
  <div class="nav-wrapper blue">
    <a href="#!" class="brand-logo center">José Abreu Martins</a>
  </div>
</nav>

<nav>
  <div class="nav-wrapper blue">
    <a href="#!" class="brand-logo center">Ouro • 838.996.852-53 • 1088834</a>
  </div>
</nav>



<div>
<!--<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class='text-center'>Multi-column <a href="http://materializecss.com">MaterializeCSS</a> card flow</h2>
      <h4 class='text-center grey-text lighten-3'>
        By <a href="https://twitter.com/michaellnorth">@MichaelLNorth</a>
      </h4>
    </div>
  </div>-->

  <div class="row">
    <div class="col s12">
      <div class="card hoverable"><!--.slideToggle(100);-->
        <div class="card-image">
          <img src="images/profile.png">
        </div>
        <div onclick="$('#show_profile_details').removeClass('chide'); $('#expand-less-profile').removeClass('chide');" class="card-content">
          <div class="row" style="position: relative">
            <div class="col">
              <img src="http://fortuneweavers.com/wp-content/uploads/2017/09/Gold-Icon.png" style="width: 60px;">
            </div>
          <div class="col">
            <span class="font-xl">José Abreu Martins</span>
            <p class="grey-text font-m">RG 196149-42 • PF • Dependente</p>
          </div>
            <div class="col right-align" style="position: absolute; right:0; top:0;">
              <i id="expand-less-profile" class="material-icons blue-grey-text darken-4 medium chide" style="cursor:pointer;">expand_less</i>
            </div>
          </div>
          <div id="show_profile_details" class="chide">
            <div class="row">
              <div class="col left-align" style="width: 33.3%">
                <div>Nascimento:</div>
                <div>01/11/1985</div>
              </div>
              <div class="col text-center" style="width: 33.3%">
                <div>Telefone:</div>
                <div>3231-2345</div>
              </div>
              <div class="col right-align" style="width: 33.3%">
                <div>Celular:</div>
                <div>9 8801-2345</div>
              </div>
            </div>
            <div class="row">
              <div class="col left-align" style="width: 50%">
                <div>E-mail:</div>
                <div>joseabreum@gmail.com</div>
              </div>
              <div class="col right-align" style="width: 50%">
                <div>Titular:</div>
                <div>91508</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card horizontal hoverable">
        <div class="card-stacked">
          <table class="centered">
            <tbody>
            <tr>
              <td style="padding-left: 20px; width:35% !important;">
                <div class="left-align font-l">Saldo disponível</div>
                <div class="left-align font-xl blue-text">R$ 3.000</div>
                <div class="left-align font-s">3.000 / 15.000 / 25.000</div>
              </td>
              <td style="max-width:30% !important;"><canvas  id="myChart"></canvas></td>
              <td style="padding-right: 20px; width:35% !important;">
                <div class="right-align font-l">Limite de crédito</div>
                <div class="right-align font-xl blue-text">R$ 3.150</div>
                <div class="right-align font-s">1.288 / 0,00</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="achievements-card" class="col s12">
      <div class="card hoverable">
        <div class="card-stacked">
          <div class="row" style="padding:10px 0 0 10px;">
            <div class="col s6">
              <div class="font-l">2 Medalhas conquistadas</div>
            </div>
            <div class="col s6 right-align">
                <i onclick="$('#achievements-card').toggleClass('chide')" class="material-icons blue-grey-text darken-4 medium" style="cursor:pointer;">expand_less</i>
            </div>
          </div>
        </div>
        <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img style="height: 80%; padding-bottom: 20px;" src="images/medals.png"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
              <!-- Add Arrows
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
               -->
            </div>
          </div>
      </div>
    <div class="col s12 cards-container">
      <div class="card hoverable" style="width:100%">
        <div class="card-content">
          <div class="font-l">Medalhas</div>
          <table class="centered">
            <tbody>
            <tr>
              <td style="">
                <div class="left-align font-m">2</div>
              </td>
              <td style="width: 100%; padding: 6px 0 0 10px;">
                <div class="right-align font-l"><div class="progress">
                  <div class="determinate blue" style="width: 20%"></div>
                </div></div>

              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>

          <p>This card has some extra info, which will make it taller. This is OK because we're using CSS columns!!!</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          <p>This card has some extra info, which will make it taller. This is OK because we're using CSS columns!!!</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          <p>This card has some extra info, which will make it taller. This is OK because we're using CSS columns!!!</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          <p>This card has some extra info, which will make it taller. This is OK because we're using CSS columns!!!</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>