<nav>
  <div class="nav-wrapper blue">
    <a href="#!" class="brand-logo center">José Abreu Martins</a>
  </div>
</nav>

<nav>
  <div class="nav-wrapper blue">
    <a href="#!" class="brand-logo center">Ouro • 838.996.852-53 • 1088834</a>
  </div>
</nav>



<div>
<!--<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class='text-center'>Multi-column <a href="http://materializecss.com">MaterializeCSS</a> card flow</h2>
      <h4 class='text-center grey-text lighten-3'>
        By <a href="https://twitter.com/michaellnorth">@MichaelLNorth</a>
      </h4>
    </div>
  </div>-->

  <div class="row" style="margin:0px !important; padding:0px !important;">


    <div class="col s6">
      <div id="mensagens-card" class="card" style="width:100%">
        <div class="card-content" style="position: relative">
          <div class="font-l">Código</div>
          <div class="font-xl blue-text">0000001</div>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div id="mensagens-card" class="card" style="width:100%">
        <div class="card-content" style="position: relative">
          <div class="font-l">Valor</div>
          <div class="font-xl blue-text">R$ 999,00</div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div id="mensagens-card" class="card" style="width:100%">
        <div class="card-content" style="position: relative">
          <div class="font-l">Pagamento</div>
          <div class="font-xl blue-text">0 + 3 x R$ 333,00</div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card" onclick="$('#show_profile_details').toggleClass('chide'); $('#expand-less-profile-info').toggleClass('chide'); $('#expand-less-profile').toggleClass('chide');"><!--.slideToggle(100);-->
        <div class="card-image">
          <img src="images/profile.png">
        </div>
        <div class="card-content">
          <div class="row" style="position: relative">
            <div class="col">
              <img src="http://fortuneweavers.com/wp-content/uploads/2017/09/Gold-Icon.png" style="width: 60px;">
            </div>
          <div class="col">
            <span class="font-xl">José Abreu Martins</span>
            <p class="grey-text font-m">RG 196149-42 • PF • Dependente</p>
          </div>
            <div class="col right-align" style="position: absolute; right:0; top:0;">
              <i id="expand-less-profile" class="material-icons blue-grey-text darken-4 medium chide" style="cursor:pointer;">expand_less</i>
              <i id="expand-less-profile-info" class="material-icons blue-grey-text darken-4 font-xl" style="cursor:pointer; padding: 10px;">info_outline</i>
            </div>
          </div>
          <div id="show_profile_details" class="chide">
            <div class="row">
              <div class="col left-align" style="width: 33.3%">
                <div>Nascimento:</div>
                <div>01/11/1985</div>
              </div>
              <div class="col text-center" style="width: 33.3%">
                <div>Telefone:</div>
                <div>3231-2345</div>
              </div>
              <div class="col right-align" style="width: 33.3%">
                <div>Celular:</div>
                <div>9 8801-2345</div>
              </div>
            </div>
            <div class="row">
              <div class="col left-align" style="width: 50%">
                <div>E-mail:</div>
                <div>joseabreum@gmail.com</div>
              </div>
              <div class="col right-align" style="width: 50%">
                <div>Titular:</div>
                <div>91508</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card horizontal">
        <div class="card-stacked">
          <table class="centered">
            <tbody>
            <tr>
              <td style="padding-left: 20px; width:35% !important;">
                <div class="left-align font-l">Saldo disponível</div>
                <div class="left-align font-xl blue-text">R$ 3.000</div>
                <div class="left-align font-s">3.000 / 15.000 / 25.000</div>
              </td>
              <td style="max-width:30% !important;"><canvas  id="myChart"></canvas></td>
              <td style="padding-right: 20px; width:35% !important;">
                <div class="right-align font-l">Limite de crédito</div>
                <div class="right-align font-xl blue-text">R$ 3.150</div>
                <div class="right-align font-s">1.288 / 0,00</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="achievements-card" class="col s12 chide">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s10">
              <div class="font-l">2 Medalhas conquistadas</div>
            </div>
            <div class="col s2 right-align">
                <i onclick="$('#achievements-card').addClass('chide'); $('#achievements-card-1').addClass('card').removeClass('chide');" class="material-icons blue-grey-text darken-4 medium" style="cursor:pointer;">expand_less</i>
            </div>
          </div>

        <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img style="height: 80%; padding-bottom: 20px;" src="images/medals.png"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
              <!-- Add Arrows
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
               -->
            </div>
        </div>
          </div>
      </div>
    <div id="contracts-card" class="col s12 chide">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s10">
              <div class="font-l">Contratos Ativos</div>
            </div>
            <div class="col s2 right-align">
                <i onclick="$('#contracts-card').addClass('chide'); $('#contratos-ativos-card').addClass('card').removeClass('chide');" class="material-icons blue-grey-text darken-4 medium" style="cursor:pointer;">expand_less</i>
            </div>
          </div>
          <table>
            <thead>
            <tr class="font-m">
              <th>Data</th>
              <th class="text-center">Valor</th>
              <th class="right-align">Conceito</th>
            </tr>
            </thead>

            <tbody>
            <tr class="font-m blue-text">
              <td>05/08/2017</td>
              <td class="text-center">R$ 155,32</td>
              <td class="right-align">Ótimo</td>
            </tr>
            <tr class="font-m blue-text">
              <td>29/07/2017</td>
              <td class="text-center">R$ 894,90</td>
              <td class="right-align">Ótimo</td>
            </tr>
            <tr class="font-m blue-text">
              <td>05/08/2017</td>
              <td class="text-center">R$ 199,20</td>
              <td class="right-align">Bom</td>
            </tr>
            <tr class="font-m blue-text">
              <td>29/07/2017</td>
              <td class="text-center">R$ 40,00</td>
              <td class="right-align">Bom</td>
            </tr>
            </tbody>
          </table>
        </div>
          </div>
      </div>

    <div class="col s12 cards-container">

      <div id="saldo-card" class="card" style="width:100%">
        <div class="card-content">
          <div class="font-l">Saldo de pontos</div>
          <div class="font-xl blue-text">15.377</div>
          <div class="font-s">Nenhum ponto a expirar em 30/09/17</div>
        </div>
      </div>
      <div id="vale-card" class="card" style="width:100%">
        <div class="card-content">
          <div class="font-l">Vale-Crédito</div>
          <div class="font-xl blue-text">R$ 54</div>
        </div>
      </div>
      <div id="achievements-card-1" onclick="$('#achievements-card').removeClass('chide'); $('#achievements-card-1').removeClass('card').addClass('chide'); initSwiper();" class="card" style="width:100%">
        <div class="card-content" style="position: relative">
          <div class="font-l">Medalhas</div>
          <table class="centered">
            <tbody>
            <tr>
              <td style="">
                <div class="left-align font-m">2</div>
              </td>
              <td style="width: 100%; padding: 6px 0 0 10px;">
                <div class="right-align font-l"><div class="progress">
                  <div class="determinate blue" style="width: 20%"></div>
                </div></div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="col right-align" style="position: absolute; right:0; top:0;">
            <i id="expand-less-profile-info" class="material-icons blue-grey-text darken-4 font-l" style="cursor:pointer; padding-top: 27px; padding-right: 10px;">info_outline</i>
          </div>
        </div>
      </div>
      <div id="contratos-liquidados-card" class="card" style="width:100%">
        <div class="card-content" style="position: relative">
          <div class="font-l">Contratos liquidados</div>
          <div class="font-xl blue-text">310</div>
          <div style="position: absolute; bottom: 30px; right:30px;">
            <div class="font-xs right-align">300 completos</div>
            <div class="red-text font-xs right-align">10 cancelados</div>
          </div>
        </div>
      </div>
      <div id="recebimentos-card" class="card" style="width:100%">
        <div class="card-content" style="position: relative">
          <div class="font-l">Recebimentos</div>
          <div class="font-xl blue-text">12</div>
        </div>
      </div>
      <div id="acordos-card" class="card" style="width:100%">
        <div class="card-content" style="position: relative">
          <div class="font-l">Acordos</div>
          <div class="font-xl blue-text">0</div>
        </div>
      </div>
      <div id="bonus-card" class="card" style="width:100%">
        <div class="card-content" style="position: relative">
          <div class="font-l">Bônus Bemol</div>
          <div class="font-xl blue-text">R$ 175</div>
          <img style="width: 20%; position: absolute; top: 30px; right:30px;" src="images/b_star.png">
        </div>
      </div>
      <div id="historico-card" class="card" style="width:100%">
        <div class="card-content">
          <div class="font-l">Histórico de pontos</div>
          <div class="font-xl blue-text">27.442</div>
          <div class="font-s">Faltam 8.770 pontos para se tornar Cliente Diamante</div>
        </div>
      </div>
      <div id="prestacoes-card" class="card" style="width:100%">
        <div class="card-content" style="position: relative; padding-bottom: 39px;">
          <div class="font-l">Prestações</div>
          <div class="font-xl blue-text">18</div>
          <div style="position: absolute; bottom: 30px; right:30px;">
            <div class="font-xs right-align">16 em aberto</div>
            <div class="red-text font-xs right-align">2 em atraso</div>
          </div>
        </div>
      </div>
      <div id="comprometimento-card" class="card" style="width:100%">
        <div class="card-content" style="position: relative">
          <div class="font-l">Comprometimento/mês</div>
          <div class="font-xl blue-text">R$400</div>
        </div>
      </div>
      <div id="contratos-ativos-card" onclick="$('#contracts-card').removeClass('chide'); $('#contratos-ativos-card').removeClass('card').addClass('chide'); initSwiper();" class="card" style="width:100%">
        <div class="card-content" style="position: relative">
          <div class="font-l">Contratos ativos</div>
          <div class="font-xl blue-text">4</div>
          <div style="position: absolute; bottom: 30px; right:30px;">
            <div class="font-xs right-align">2 em dia</div>
            <div class="red-text font-xs right-align">2 em atraso</div>
          </div>
          <div class="col right-align" style="position: absolute; right:0; top:0;">
            <i id="expand-less-profile-info" class="material-icons blue-grey-text darken-4 font-l" style="cursor:pointer; padding-top: 27px; padding-right: 10px;">info_outline</i>
          </div>
        </div>
      </div>
      <div id="mensagens-card" class="card" style="width:100%">
        <div class="card-content" style="position: relative">
          <div class="font-l">Mensagens</div>
          <div class="font-xl blue-text">0</div>
        </div>
      </div>


    </div>
    </div>
</div>
