<!DOCTYPE html>
<html>
<head>
  <title>BemolBot</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.4">
  <link href="<%= 'css/' + request.path_info[1..-1] + '.css' %>" rel="stylesheet" type="text/css" />
  <!--<link href="<%= 'css/teste.css' %>" rel="stylesheet" type="text/css" />-->
</head>

<body>
<%= yield %>
</body>
</html>