<!DOCTYPE html>
<html>
<head>
  <title>BemolBot</title>

  <!--Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!--Chart JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  <!--Swiper API-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.esm.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.esm.bundle.js"></script>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.4">
  <link href="<%= 'css/' + request.path_info[1..-1] + '.css' %>" rel="stylesheet" type="text/css" />
  <!--<link href="<%= 'css/teste.css' %>" rel="stylesheet" type="text/css" />-->

  <script>
      $( document ).ready(function() {
          /*
                   $('#expand-less-profile').click(function (e) {
                       e.stopImmediatePropagation();
                       $('#show_profile_details').addClass('chide');
                       $('#expand-less-profile').addClass('chide');
                   });
                  $('.carousel.carousel-slider').carousel({fullWidth: true});
                   $('.indicator-item').each(function (index, el) {
                       el.setAttribute("style", "background-color: grey");
                   });*/
          initSwiper = function() {
              var swiper = new Swiper('.swiper-container', {
                  slidesPerView: 1,
                  spaceBetween: 30,
                  loop: true,
                  pagination: {
                      el: '.swiper-pagination',
                      clickable: true,
                  },
                  navigation: {
                      nextEl: '.swiper-button-next',
                      prevEl: '.swiper-button-prev',
                  },
              });
          }

          var ctx = document.getElementById('myChart').getContext('2d');
          var myDoughnutChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                  datasets: [{
                      data: [90, 10],
                      backgroundColor: [
                      '#42a5f5','#ef5350'
                      ],
                      borderWidth: [0, 0]
                  }],
                  labels: [
                      'Limite Disponível'
                      //'Utilizado',
                  ]
              },
              options: {
                  legend: {
                      display: true,
                      onClick: function(e) {
                          e.stopPropagation();
                      }
                  },
                  tooltips: {
                      enabled: false
                  }
              }
          });

          /*Chart.pluginService.register({
              beforeDraw: function(chart) {
                  var width = chart.chart.width,
                      height = chart.chart.height,
                      ctx = chart.chart.ctx;

                  ctx.restore();
                  var fontSize = (height / 114).toFixed(2);
                  ctx.font = fontSize + "em sans-serif";
                  ctx.textBaseline = "middle";

                  var text = "90%",
                      textX = Math.round((width - ctx.measureText(text).width) / 2),
                      textY = height / 2;

                  ctx.fillText(text, textX, textY);
                  ctx.save();
              }
          });*/
      });
  </script>
</head>

<body>
<%= yield %>
<div class="row" style="margin:0px !important; padding:0px !important;">
  <div class="col" style="width: 50%; margin:0px !important; padding:0px !important;"><button style="height: 110px; width: 100%;" class="waves-effect waves-light btn red font-l">Reprovar</button></div>
  <div class="col" style="width: 50%; margin:0px !important; padding:0px !important;"><button style="height: 110px; width: 100%;" class="waves-effect waves-light btn green font-l">Aprovar</button></div>
</div>
</body>
</html>